/* RESET CSS */

* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style:none;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

input {
  padding: 5px;
}

/* MAIN STYLES */

.container {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}
.form-container {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 33%;
}

.form-container label {
  display: inline-block;
  width: 25%;
}
