@import 'reset.css';

/*---------------BODY---------------*/

body {
	background: #1056ad;
}
	
main {
	width: 50%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

h1, h4 {
	padding: 2%;
	color: #fff;
	text-align: center;
}

h1 {margin-top: 10%;}

h4 {padding-top: 0;}

main > form {
	width: 100%;
	height: auto;
	padding: 3%;
}


main > form > label,
main > form > input {
	color: #fff;
	background: transparent;
	width: 100%;
	height: auto;
	padding: 13px;
}

main > form > label {
	padding: 13px 0px 1px;
	display: block;
	font-weight: 500;
}

main > form > label:first-child {
	padding-top: 0;
}

main > form > input {
	background: rgba(0,0,0,0.2);
}