@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
tablet = "(min-width: 768px)"
desktop = "(min-width: 980px)"
azul = #2F7EA2

body
	background-color: azul
	color: #fff
	font-family: 'Raleway', sans-serif;
	
input
	padding: 0.5em
	border: solid 0.15em #E8E8E8
	background-color: azul
	border-radius: 0.5em
	color: #fff
	margin: 1em
	width: 80%
	text-align: center
	font-size: 1em
	
label
	font-size: 1.2em
	display: block

header
	h1
		margin-bottom: 1.5em
		
.bloco
	margin: 2em

.txt-center
	text-align: center
	
@media tablet
	input
		width: 50%
		
@media desktop
	input
		width: 30%