@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
body {
  background-color: #2f7ea2;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
input {
  padding: 0.5em;
  border: none;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0.5em;
  color: #fff;
  margin: 1em;
  width: 80%;
  text-align: center;
  font-size: 1em;
}
label {
  font-size: 1.2em;
  display: block;
}
header h1 {
  margin-bottom: 1.5em;
}
.bloco {
  margin: 1em;
}
.txt-center {
  text-align: center;
}
@media (min-width: 768px) {
  input {
    width: 50%;
  }
}
@media (min-width: 980px) {
  input {
    width: 30%;
  }
}
